
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background-color: #c8ebcc;
    padding: 2%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.pure-g{
    width: 100%
}

.con {
    display: flex;
    width: 100%;
}

.con23 {
    flex: 2;
}
.con13 {
    flex: 1;
    text-align: left;
}

.pure-u-1-1{
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
}

.pure-u-1-2{
    width: 50%;
}

body{
    background-color: #e3e1c8;
}
p{
    column-count: 2;
    column-gap: 4%;
    text-align: left;
}

.vis_con{
    text-align: center;
}
.vis_con, p{
    background-color: #87b48e;
    width: 100%;
    margin: auto;
    box-sizing: content-box;
}

.desc{
    background-color: #87b48e;
    padding: 2%;
}

.seps{
    background-color: #1e5125;
    outline-color: #1e5125;
    height: 6px;
    width: 100%;
    border: none;
}

