
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    background-color: #c8ebcc;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.pure-g{
    width: 100%
}

.con {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}

.con11 {
    width: 100%;
    background-color: #87b48e;
    padding: 20px;
}

.con23 {
    flex: 2;
    padding: 20px;
    background-color: #87b48e;
}
.con13 {
    flex: 1;
    text-align: left;
    padding: 20px;
    background-color: #87b48e;
}

#dual {
    margin: 8px 0 8px, 0;
}

body{
    background-color: #e3e1c8;
}
.desc > p{
    column-count: 2;
    column-gap: 10px;
    row-gap: 10px;
    text-align: left;
}


.vis_con, p{
    background-color: #87b48e;
    width: 100%;
    box-sizing: content-box;
}

.test{
    color: blue;
}

.sincol {
    column-count: 1;
}

.desc{
    background-color: #87b48e;
    padding: 2%;
    margin-top: 8px;
}

.seps{
    background-color: #1e5125;
    outline-color: #1e5125;
    height: 6px;
    width: 100%;
    border: none;
}

.one{
    color: #d42bd4;
}

.two{
    color: #1a0ef1;
}
.three{
    color: #1de2e2;
}
.four{
    color: #5929A3;
}
.five{
    color: #f86d07;
}

